extends layout

block content
  h1= title
  - var vcList = results
  div.container-fluid
    div.row
        each item, index in vcList
          div.col-sm-2(onclick=`buy(${index})`) ProductID: #{item["ProductID"]}  <br>  DateOfManufacturing: #{item["DateOfManufacturing"]} <br> WarrantyinYears: #{item["WarrantyinYears"]}
           
  script.
    function buy(index) {
      alert("You purchased item "+ index)
    }
