extends layout

block content
  h1= title
  - var vcList = results
  div.container-fluid
    div.row
        each item, index in vcList
         - let destination = `dispatch(\"/vacuumcleaner/update?id=${item._id}\")` 
          div.row-sm-2(class="m-1") ProductID: #{item["ProductID"]}  <br>  DateOfManufacturing: #{item["DateOfManufacturing"]} <br> WarrantyinYears: #{item["WarrantyinYears"]}
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
    script. 
       function dispatch(path){ 
        window.location.href=path 
      } 
